body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #4a4a4a;
}

section {
    margin: 3vw;
}

h1 {
    text-align: center;
    font-size: 25px;
}

h2 {
    font-size: 18px;
}

.overskrift {
    text-align: center;
    text-transform: uppercase;
}

/*----------header/menu---------*/
.topnav {
    overflow: hidden;
    width: 100%;
}

.border_header {
    border: 1px solid #5f5f5f;
    width: 95%;
    margin: 0 auto;
}

.topnav a:first-child {
    background-image: url(logo2.png);
    background-size: cover;
    width: 16vw;
    height: 9vw;
    margin: 1vw;
}

.topnav a:first-child:hover {
    opacity: 0.7;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 3;
}

.topnav a:not(:first-child):hover {
    text-decoration: underline;
}

.topnav .icon {
    display: none;
}

/*----------footer---------*/

footer {
    margin-top: 3vw;
    width: 100%;
    background-image: linear-gradient(#f7f7f7, white, white, white, white);
    color: #4a4a4a;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

footer a {
    color: #4a4a4a;
    font-size: 14px;
}

.kontakt {
    flex-basis: 100px;
    margin: 1.5vw;
}

a.fa-facebook,
a.fa-instagram {
    color: #4a4a4a;
    text-decoration: none;
    font-size: 5vw;
    height: 2vw;
    width: 2vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

a.fa-facebook:before,
a.fa-instagram:before {
    color: #4a4a4a;
}

.fa {
    text-decoration: none;
    text-align: center;
}

.fa:hover {
    opacity: 0.6;
}

/*----------forside---------*/

#splash {
    background-image: url(http://katjsoeg.dk/kea/2_sem_eksamen/designwp/splash.JPG);
    width: 100%;
    height: 60vh;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
}

.velkommen {
    text-align: center;
}


#forside_content h2 {
    margin: 1vw;
}

#video_content {
    display: flex;
    flex-wrap: wrap;
}

#video_content iframe {
    width: 650px;
    height: 400px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.10);
}


/*----------forside slut---------*/

/*----------kontakt-------------*/


#top {
    flex-wrap: wrap;
    display: flex;
}

.billede_peter {
    background-image: url(peterravn_cv.jpg);
    width: 200px;
    height: 250px;
    background-size: cover;
}


.sectionwrapper {
    margin-left: 4.5vw;
    margin-top: 2vw;
    flex-basis: 200px;
    flex-grow: 1;
}

.sectionwrapper1 {
    margin-top: 2vw;
    flex-basis: 300px;
    flex-grow: 2;
}

.kant_1 {
    display: flex;
    flex-wrap: wrap;
}

#sectionwrapper_kant {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.08);
    line-height: 1.7;
}

#sectionwrapper_kant .kant {
    margin: 1vw;

}

.kant iframe {
    margin-left: 0.5vw;
    height: 25vw;
    width: 32vw;
}

#sectionwrapper_kant a {
    color: black;
}

#sectionwrapper_kant a:visited {
    color: #4d2b9b;
}

#sectionwrapper_kant a:hover {
    color: rgba(0, 0, 0, 0.54);
}

/*--------------MEDIA QUERIES------------*/

/*-------Mobile-----*/


@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        font-size: 22px;
    }


    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .billede_peter {
        margin: auto;
        width: 220px;
        height: 300px;

    }

    #sectionwrapper_kant,
    .sectionwrapper p {
        justify-content: center;
        text-align: center;

    }


    .kant_frame iframe {
        height: 45vw;
        width: 90vw;
    }

    article {
        box-shadow: inherit;
    }

    #splash {
        background-image: url(splash.jpg);
        width: 100%;
        height: 58vh;
        margin: 0;
        background-attachment: inherit;
        background-size: cover;
        background-position: center;
    }

    #video_content iframe {
        width: 650px;
        height: 300px;
    }

}

/*-------Desktop skærme-----*/

@media screen and (min-width: 700px) {
    .topnav a:first-child {
        background-image: url(logo2.png);
        background-size: cover;
        position: relative;
        width: 7.2vw;
        height: 4vw;
    }

    .topnav a:not(:first-child) {
        padding-top: 2vw;
        float: right;
        position: relative;
    }

    .kontakt {
        flex-basis: 200px;
    }

    a.fa-facebook,
    a.fa-instagram {
        color: white;
        text-decoration: none;
        font-size: 2vw;
        height: 1vw;
        width: 1vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

}
